.map-entries-wrapper {
    overflow: scroll;
}

.map-entries {
    border: 1px solid #f6f6f6;
}

.map-entries tbody td {
    font-family: monospace;
    padding: 3px 5px;
}

/* make rows alternate colors */
.map-entries tbody tr:nth-child(even) {
    background-color: #f6f6f6;
}

.map-entries thead > tr:first-child > td:first-child,
.map-entries tbody > tr > td:first-child {
    position: sticky;
    left: 0;
    z-index: 1;
    background: #eee;
}

.map-entries thead {
    background: #eee;
}

.map-entries tbody.number-values td {
    text-align: right;
}

.map-entries tbody td>span {
    text-decoration: greenyellow dashed underline;
    width: 100%;
    display: block;
    height: max-content;
    min-height: 1em;
}

.map-entries tbody td>span[contenteditable="true"] {
    background: #3e3e52 !important;
    color: #fff;
}

.map-entries tbody td>span:hover {
    cursor: text;
    background: #ececff;
}

.map-entries tbody td:first-child {
    text-align: left;
}

.map-entries > thead > tr.cpu-heads > td {
    text-align: center;
}